* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#main-header {
  background-color: #fff;
  box-shadow: 0rem 1rem 1rem rgba(193, 193, 193, 0.891);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

#main-header form {
  border-radius: 1rem;
  overflow: hidden;
}

#main-header button,
#main-header button:active,
#main-header input:active,
#main-header input {
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}
#main-header input {
  background-color: #00203fff;
  color: #fff;
}
#main-header button {
  background-color: #adefd1ff;
}

@media (max-width: 500px) {
  #main-header {
    padding-left: 0;
    padding-right: 0;
  }
  #main-header button,
  #main-header input {
    padding: 0.5rem 1rem;
  }
}

.post-card {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
  max-height: 40rem;
  max-width: 24rem;
  border: 1px solid black;
}

header > .img-container {
  width: 100%;
  min-height: 20%;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.details {
  display: flex;
  flex: 1 1 5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.content {
  margin-top: 1rem;
  padding: 0rem 1rem 1rem 0.01rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.title {
  flex-basis: 70%;
}

.profile {
  max-width: 5rem;
  max-height: 4rem;
  justify-self: center;
  margin-top: 1.27rem;
}

.profile > img {
  border-radius: 50%;
}

main {
  padding: 0rem 1rem 2rem 1rem;
}

#card-footer {
  display: flex;
}

#tags {
  flex: 1 1 70%;
}
#tags span {
  margin-right: 0.5rem;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.timestamp {
  flex: 1 1 30%;
}

a {
  text-decoration: none;
}
